* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(270, 3%, 99%);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    min-height: 30vh;
    margin-bottom: 30%;
    background-image: url('./images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.card-bg {
    width: 280px;
}

.front-card-container {
    position: absolute;
    transform: translate(5%, 48%);
    z-index: 1;
}

.front-card-logo {
    width: 50px;
    position: absolute;
    transform: translate(40%, 70%);
}

.card-number {
    font-family: inherit;
    font-size: 1.2rem;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    position: absolute;
    transform: translate(6%, -300%);
}

.card-info-front {
    width: 250px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translate(6%, -290%);
}

.name,
.date {
    font-size: 0.6rem;
    color: white;
    letter-spacing: 2px;
}

.back-card-container {
    position: absolute;
    transform: translate(25%, -10%);
    z-index: 0;
}

.back-card-container .cvc {
    position: absolute;
    bottom: 48%;
    right: 12%;
    font-size: 0.7rem;
    color: white;
}

.right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 350px;
    padding: 10px;
}

label {
    color: hsl(278, 68%, 11%);
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 2px;
}

input {
    margin-top: 5px;
    margin-bottom: 15px;
    padding: .8rem;
    font-family: inherit;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
}

input::placeholder {
    color: hsl(279, 6%, 75%);
}

input:focus {
    outline: none;
    border: double 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
        linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

#name,
#number {
    width: 100%;
}

#expdate,
#expdate-year {
    width: 25%;
    margin-right: 5px;
}

#card-cvc {
    width: 50%;
    margin-left: 10px;
}

.label-container,
.input-container {
    display: flex;
    margin-top: 5px;
}

.label-container label {
    margin-right: 40px;
}

.submit-btn {
    font-family: inherit;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.completed-state {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(0, 125%);
}

.completed-state img {
    margin-bottom: 30px;
}

.completed-state h1 {
    color: hsl(278, 68%, 11%);
    margin-bottom: 15px;
}

.completed-state p {
    color: hsl(279, 6%, 55%);
    margin-bottom: 30px;
}

.completed-state h1,
.completed-state p {
    letter-spacing: 2px;
    font-weight: 100;
}

@media (min-width: 768px) {
    .left {
        justify-content: center;
        align-items: center;
        margin-bottom: 30%;
    }

    .card-bg {
        width: 560px;
    }

    .front-card-container {
        transform: translate(-12%, 60%);
    }

    .front-card-logo {
        width: 100px;
        transform: translate(40%, 80%);
    }

    .card-number {
        font-size: 2.5rem;
        transform: translate(8%, -250%);
    }

    .card-info-front {
        width: 475px;
        transform: translate(9%, -290%);
    }

    .name,
    .date {
        font-size: 0.8rem;
    }

    .back-card-container {
        transform: translate(12%, 5%);
    }

    .back-card-container .cvc {
        font-size: 1.1rem;
    }

    form {
        width: 700px;
    }

    label {
        font-size: 1rem;
    }

    #expdate,
    #expdate-year {
        width: 25%;
    }

    #card-cvc {
        width: 50%;
    }

    .label-container label {
        margin-right: 170px;
    }

    .submit-btn {
        font-size: 1.5rem;
        padding: 20px;
        margin-top: 50px;
    }

    .completed-state {
        transform: translate(0, 130%);
    }

    .completed-state img {
        width: 150px;
    }

    .completed-state h1 {
        font-size: 3.2rem;
    }

    .completed-state p {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: column;
        width: 30%;
        min-height: 100vh;
        margin-right: 15%;
        margin-bottom: 0;
    }

    .card-bg {
        width: 400px;
    }

    .front-card-container {
        transform: translate(35%, -50%);
    }

    .front-card-logo {
        width: 70px;
        transform: translate(40%, 85%);
    }

    .card-number {
        font-size: 1.8rem;
        transform: translate(6%, -250%);
    }

    .card-info-front {
        width: 350px;
        transform: translate(7%, -290%);
    }

    .name,
    .date {
        font-size: 0.6rem;
    }

    .back-card-container {
        transform: translate(55%, 55%);
    }

    .back-card-container .cvc {
        font-size: 0.9rem;
    }

    .right {
        width: 70%;
        padding: 10px;
    }

    form {
        width: 500px;
        padding: 5px;
    }

    label {
        font-size: 0.8rem;
    }

    #expdate,
    #expdate-year {
        width: 20%;
    }

    #card-cvc {
        width: 60%;
    }

    .label-container label {
        margin-right: 55px;
    }

    .submit-btn {
        font-size: 1rem;
        margin-top: 30px;
    }

    .completed-state {
        transform: translate(280%, 5%);
    }

    .completed-state img {
        width: 100px;
    }

    .completed-state h1 {
        font-size: 2.5rem;
    }

    .completed-state p {
        font-size: 1rem;
    }

}